

mixin DeleteModalBtn(id, entity)
    //Button
    button.btn.btn-danger(type='button', data-toggle='modal', data-target='#Delete'+entity+id)
        | Delete
    // Modal
    .modal.fade(id='Delete'+entity+id, tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5 Delete #{entity}
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                .modal-body Are you sure you want to delete this #{entity}?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    form(action='/workouts/delete/'+id method="post")
                        button.btn.btn-danger(type='submit') Delete #{entity}

mixin CreateModalBtn(userid, entity)
    //Button
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#newWorkout'+userid)
        | Create New #{entity}
    // Modal
    .modal.fade(id='newWorkout' + userid, tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                form(action='/workouts/create' method="post")
                    .modal-header
                        h5 Create new #{entity}
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                            .form-group
                                label(for="name") Name:
                                input#username.form-control(type='text' placeholder="Workout Name" name='name')
                            .form-group
                                label(for='description') Description:
                                input#password.form-control(type='text' placeholder='Description of workout program' name='description')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Create New #{entity}

mixin EditModalBtn(id, entity, current)
    //Button
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#EditWorkout'+id)
        | Edit
    // Modal
    .modal.fade(id='EditWorkout' + id, tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                form(action='/workouts/edit/'+id method="post")
                    .modal-header
                        h5 Edit #{entity}
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                            .form-group
                                label(for="name") Name:
                                input#username.form-control(type='text', placeholder="Workout Name", name='name', value=current.name)
                            .form-group
                                label(for='description') Description:
                                input#password.form-control(type='text', placeholder='Description of workout program', name='description', value=current.description)
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='submit') Save Changes